@{
  Layout = "_Layout";
}

<h1>You've added a new Car!</h1>
<p>@Model.GetMake()</p>
<p>@Model.GetPrice()</p>
<p>@Model.GetMiles()</p>
<p><a href="/">Add another Car</a></p>
<p><a href="/car/list">View the List</a></p>
